.button {
  padding: 15px 20px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  background-color: var(--color-accent);
  text-decoration: none;
  border: 0;
  border-radius: 10px;
}
