.container {
  padding-right: var(--container-gap);
  padding-left: var(--container-gap);

  @include media-desktop {
    max-width: var(--width-desktop);
    margin-left: auto;
    margin-right: auto;
  }
}
