.social__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background-color: var(--color-black);
    border-radius: 50%;
  }
}

.social__icon {
  width: 50%;
  height: 50%;
}
