.social__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background-color: var(--color-black);
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: var(--color-accent);
      @include transition(background-color);
    }
  }

  &--colored {
    .social__link {
      &--vk {
        background-color: #0077FF;
      }

      &--wa {
        background-color: #48C95F;
      }

      &--tg {
        background-color: #27A6E5;
      }
    }
  }

  &--size-m {
    gap: 15px;

    a {
      width: 40px;
      height: 40px;
    }
  }

  @include media-tablet {
    gap: 10px;
  }

  @include media-desktop {
    a {
      width: 30px;
      height: 30px;
    }

    &--size-m {
      gap: 15px;

      a {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.social__icon {
  width: 50%;
  height: auto;
}
