.workflow {
  padding-top: 30px;
  padding-bottom: 75px;

  @include media-desktop {
    padding-top: 0;
  }
}

.workflow__headline {
  text-transform: uppercase;
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 50px;

  span {
    display: block;
    font-size: 22px;
  }

  @include media-tablet {
    font-size: 64px;
    span {
      font-size: 28px;
    }

    margin-bottom: 40px;
  }

  @include media-desktop {
    margin-bottom: 60px;
    font-size: 80px;
    span {
      font-size: 36px;
    }
  }
}

.workflow__list {
  @include reset-list;
  display: grid;
  gap: 40px;

  li {
    background-color: #6C6C6C;
    padding: 25px 15px 50px 15px;
    box-shadow: 4px 4px 10px rgba(193, 66, 97, 0.7);
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  @include media-tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include media-laptop {
    grid-template-columns: repeat(3, 1fr);

    &--2-col {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media-desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;

    li {
      padding-bottom: 30px;
    }

    &--2-col {
      grid-template-columns: repeat(2, 1fr);

      .workflow__header {
        flex-direction: row;
      }
    }
  }
}

.workflow__sequence {
  font-weight: 700;
  font-size: 48px;
  color: transparent;

  -webkit-text-stroke: 2px var(--color-white);
}

.workflow__text {
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.workflow__header {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 15px;

  @include media-tablet {
    align-items: baseline;
    margin-bottom: 20px;
  }

  @include media-desktop {
    flex-direction: column;
    row-gap: 35px;
  }
}
