/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 1279px) {
      @content;
    }
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

@mixin font-base {
  font-family: 'Suisse Intl', Arial, sans-serif;
}

@mixin transition($property: all, $delay: 200ms) {
  transition: $property $delay linear;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin media-mobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin media-mobile-m {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin media-mobile-l {
  @media (min-width: 425px) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: 1400px) {
    @content;
  }
}

// calc ratio https://ratiobuddy.com/
@mixin adaptive-image($width, $height) {
  padding: 0 0 calc($height / $width) * 100% 0;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* Устаревший метод для скрытия элемента */
  clip: rect(1px, 1px, 1px, 1px); /* Метод для скрытия элемента */
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  white-space: nowrap; /* Предотвращает перенос текста */
}

@mixin effect-left-mark {
  padding-left: 14px;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: var(--color-accent);
  }

  @include media-tablet {
    padding-left: 30px;

    &:after {
      width: 10px;
    }
  }

  @include media-desktop {
    &:after {
      width: 15px;
    }
  }
}
