:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: rgba(108, 108, 108, 0.95);
  --color-light-gray: #9B9B9B;

  --color-background: #35363A;
  --color-accent: #C14261;

  --color-accent-dark: #9B344E;

  --container-gap: 20px;
  --width-desktop: 1400px;

  @media (min-width: 1400px) {
    --container-gap: 40px;
  }
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
