:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: rgba(108, 108, 108, 0.85);
  --color-light-gray: #9B9B9B;

  --color-background: #35363A;
  --color-accent: #C14261;

  --container-gap: 20px;
}

.hidden {
  display: none;
}
